.platform {
  .msg {
    position: fixed;
  }
  .dialog {
    position: fixed;
    right: 0;
    bottom: 0;
    &-content {
      max-width: 550px;
      min-width: 300px;
      max-height: 270px;
      margin-right: 100px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 1em;
      overflow: hidden;
      background-color: #FFFFFF;
      &.fold {
        article {
          display: none;
        }
        footer {
          display: none;
        }
      }
      header {
        font-size: 25px;
        min-width: 200px;
        background-color: #2B7E58;
        text-align: center;
        position: relative;
        h2 {
          color: #FFFFFF;
          margin-block-start: 2px;
          margin-block-end: 0;
        }
        .fold-btn {
          position: absolute;
          right: 25px;
          top: 17px;
        }
      }
      article {
        margin: 25px;
        flex-grow: 1;
        overflow-y: scroll;
        p {
          font-size: 14px;
          margin-block-start: 0;
          margin-block-end: 0;
        }
      }
      footer {
        background-color: #FFFFFF;
        padding-bottom: 25px;
        text-align: center;
        .operation ~.operation {
          margin-left: 12px;
        }
      }
    }
    .dialog-secretary {
      position: absolute;
      pointer-events: none;
      bottom: 0;
      right: 0;
      width: 100px;
      img {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .platform {
    .dialog {
      &-content {
        width: 60vw;
        margin-right: 25vw;
        margin-bottom: 1rem;
        article {
          margin: 1rem
        }
        footer {
          padding-bottom: 1rem;
        }
      }
      .dialog-secretary {
        width: 30vw;
      }
    }
  }
}
